
.card{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;
}
.card .col{
  margin: 12px;
}

.card .card-body .link_to{
  text-align: center;
}

.card .card-body .link_to a{
  margin-right: 12px;
}
ul, li{
  list-style: none;
}

.main-project{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
}

.main-project .first-one{
  width: 50%;
}

.main-project .second-one {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 400px;
}

.main-project .second-wrapper ul {
  display: flex;
  padding-left: 4px;
}


.main-project .second-one .second-wrapper{
  padding: 4px;
}
.pagination{
  position: absolute;
  top: 140px;
  width: 100%;
}