<%= form_with url: patron_product_path(@product, @user) do |f| %>
  <div class="field">
    <%= f.label :donation %>
    <%= f.number_field :donation, class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>