<% @patrons.each do |patron| %>
  <div class="card mb-3" >
    <div class="row">
      <h5 class="col-sm-6"><%=patron.product.title%></h5>
      <div class="col-sm-6">
        <p ><%= patron.created_at.strftime("at %I:%M%p") %></p>
        <p ><%= patron.donation %>円</p>
      </div>
    </div>
  </div>
<%end%>