
.card{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;
}
.card .col{
  margin: 12px;
}

.card .card-body .link_to{
  text-align: center;
}

.card .card-body .link_to a{
  margin-right: 12px;
}