.myproject
  %ul.nav
    %li.nav-item
      = link_to mypage_products_path, class:"nav-link" do
        %i.fas.fa-trophy
        %span 投稿したプロジェクト
    %li.nav-item
      = link_to  mypage_patrons_path,class:"nav-link" do
        %i.fas.fa-cloud-upload-alt
        %span 支援したプロジェクト
    %li.nav-item
      = link_to liked_mypage_products_path,class:"nav-link" do
        %i.fas.fa-heart
        %span お気に入りプロジェクト