.center_layout{
  text-align: center;
  height: 100px;
  display: table;
  p{
    display: table-cell; /* 子要素はテーブルセル要素にする */
    vertical-align: middle;
  }
}
.center_layout2{
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
  border: solid;
  p{
    vertical-align: middle;
    display: inline-block;
  }
}
.center_layout3{
  text-align: center;
  p{
    display: inline-block;
    text-align: left;
  }
}
.center_layout4{
  display: flex;
  justify-content: center;
  align-items: center;
}