.center_layout{
  text-align: center;
  height: 100px;
  display: table;
  p{
    display: table-cell; /* 子要素はテーブルセル要素にする */
    vertical-align: middle;
  }
}
.center_layout2{
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
  border: solid;
  p{
    vertical-align: middle;
    display: inline-block;
  }
}
.center_layout3{
  text-align: center;
  p{
    display: inline-block;
    text-align: left;
  }
}
.center_layout4{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_layout5{
  background-color:  #ddd;
  height: 300px;
  width: 640px;
  position: relative;
  p{
    background-color: #2196F3;
    position: absolute;

    top:  0;
    bottom:  0;
    left:  0;
    right:  0;
    margin:  auto;
    width:  150px;
    height: 80px;
  }
}