- @notifications.each do |notification|
  - if notification.user_id == current_user.id
    %p
    = link_to notification.product.title, product_path(notification.product)
    のパトロンになりました

  -else
    = link_to notification.product.title, product_path(notification.product)
    に
    = notification.user.email
    がパトロンになりました