- @notifications.each do |notification|
  - if notification.notification_user?(notification)
    %p
    = link_to notification.patron.product.title, product_path(notification.patron.product)
    に
    = notification.patron.user.email
    がパトロンになりました
  - else
    %p
    = link_to notification.patron.product.title, product_path(notification.patron.product)
    のパトロンになりました


