// Place all the styles related to the patrons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.row{
  .col-4{
    .check-patron{
      padding-bottom: 12px;
    }
    .card{
      .card-image-top{
        height: 200px;
        width: 100%;
        background-position:center bottom;
        background-size:cover;
      }
      .card-text{
        text-align: center;
        padding-bottom: 12px;
      }
    }
  }
  .col-8{
    .donation{
      #error_explanation{
        margin-top: 12px;
        padding: 12px;
        background-color: #fce4ec;
        border-radius: 8px;
      }

    }
  }
}
.second-main{
  display: flex;
  justify-content: space-around;
}