// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.patron_message{
  text-align: center;
  font-size: 24px;
  font-style: normal;
}

  .card-body.border-bottom{
    border-bottom: 6px solid #ffb300!important;
  }

.card-image{

}

.row{
  .col-sm-8{
    display: flex;
    flex-direction: column;
    section{
      position: relative;
      margin-bottom: 40px;

    }
  }
  .col-sm-4{
    span{
      font-size: 14px;
      margin-bottom: 0;
    }
  }
  .card{
    padding-right: 0;

    .card-body {
      p{
        margin: 0 12px 0 12px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-align: center;
        font-size: 24px;
        color: #434a54;
        overflow: hidden;

    }
  }

  }
  .col-3.order-first.box-status{
    display: flex;
    justify-content: center;
    padding-right: 0;

    p{
      vertical-align: baseline;
    }
    .small{
      font-size: 14px;
      padding-top: 10px;
      color: #666666;
    }
  }
    .col-9.order-last.box-status{
      display: flex;
      justify-content: center;
      .small{
        font-size: 14px;
        margin-right: 4px;
        padding-top: 10px;
        color: #666666;
      }
    }

}

.patron_message{
  .btn.btn-secondary{
    display: flex;
    background-color: #e65d65;
    border-color: #e65d65;
    width: 80%;
    padding:20px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 4px solid #fff;;
    border-bottom-color:#e13a43;

    i{
      font-size: 36px;
      padding-left: 12px;
    }
  }

  .like-button{
    display: flex;
    color: #999999;
    justify-content: center;
    align-items: center;
    border: 1px solid #e3e4e8;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 12px;
    width: 80%;
    padding: 10px;
    &:hover{
      text-decoration: none;
      background-color: #efebe9;
    }
  }
  .btn-primary{
    width: 20%;
    float: right;
    margin: 20px 29px;
    background-color: #fac75a;
    border: #fac75a;
    &:hover{
      background-color: #fac75a;
      opacity: 0.7;
    }
  }
}
.card .col {
  margin: 0px;

  .card-text{
    font-size: 24px;
    color: #666666;
  }


}
.pagination{
  justify-content: center;
}

