/*
body {
  background-color: #fff;
  color: #333;
  margin: 33px; 
  max-width: 100%;
  width: 0 auto;
  font-size: 20px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; 
  text-decoration: none;
}

.header_link{
  padding-right: 12px;
}
a:visited {
  color: #666; 
}

a:hover {
  color: #fff;
  background-color: #000; 
}

table{
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;
   
    width: 100%;
    
}
th {
  padding: 0 16px 5px 0; 
  border: none;
}
thead{
  background-color: rgb(215, 170, 126);
}
tr{
  border: none;
}

td {
  padding: 0 5px 7px; 
}

div.field,
div.actions {
  margin-bottom: 10px; 
}

#notice {
  color: green; 
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; 
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; 
}
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; 
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square; 
}

label {
  display: block; 
}

  
  .product_title{
    text-align: center;
  }
  */

  #list_index {
  display: flex;
  justify-content: center;
  }
  #list_index span{
    margin: 12px;
  }
  .r{
    display: flex;
    flex-wrap: wrap;
  }
  .col-sm-6{
    margin-bottom: 24px;
  }
  .thumb{
    width: 444px;
  }
  .show-title{
    font-size: 36px;
  }
  .main-title{
    text-align: center;
    font-size: 36px;
  }