

- if user_signed_in?
= link_to "ログアウト", destroy_user_session_path, method: :delete
    %div.r
        - @products.each do |product|
            %div.col-sm-6
                %div.card
                    .card-body
            %h3{class:"card-title"} =product.title
            %div.row
                .col
                    %span {scope:"col"} 価格
                    %h6 {class:"card-text"} = product.price
                    <span scope="col">詳細</span>
                    <h6 class="card-text"><%= product.description%></h6>
                    <span scope="col">状態</span>
                    <h6 class="card-text"><%= product.status%></h6>
                    <span scope="col">メッセージ</span>
                    <h6 class="card-text"><%= product.message%></h6>
                    <span scope="col">メール</span>
                    <h6 class="card-text"><%= product.user.email%></h6>
                    <span scope="col">お返し</span>
                    <% product.rewards.each do |reward| %>
                        <h6><%= reward.title%></h6>


                    <div class="col">
                        <% if product.image? %>
                            <div class="thumbnail">
                                <%= image_tag product.image.url,class:"img-fluid", alt:"Responsive image"%>
                            </div>
                        <% end %>

        <div id=list_index>
            <span><%= link_to 'Show', product %></span>
        </div>
        </div>
    </div>
    <% end %>

<% else %>
<h2> 現在ログインしていません </h2>
    <%= link_to "ログイン",  login_path, class: 'post' %> <!-- ログイン画面に移行する -->
    <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
<% end %>

