<div class="container">
<h2>この記事にいいねしたユーザー</h2>
<table class="table table-borderless">
<tbody>
<thead class="thead-dark">  
      <tr>
        <th scope="col">名前</th>
        <th scope="col">メールアドレス</th>
      </tr>
    </thead>
<% @product.patrons.each do |user| %>
<tr>
  <td><h4><%= user.name %></h4></td>
  <td><h4><%= user.email %></h4></td>
</tr>
<% end %>
</tbody>
</table>
<%=link_to "Back", product_path %>
</div>
